<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Online Bank</title>
	<link href="/css/transactions.css" rel="stylesheet">
</head>
<body>
	<h2>
		Transactions History
	</h2>

	<table>
		<tr>
			<th>ID</th>
			<th>Date</th>
			<th>Retailer</th>
			<th>Funds In</th>
			<th>Funds Out</th>
		</tr>

		<tr th:each="txn : ${transactions}">
			<td><a th:href="@{/transactions/{txnId}(txnId=${txn.id})}"
			       th:text="${txn.id}"></a></td>
			<td th:text="${txn.date}"></td>
			<td th:text="${txn.retailer}"></td>
			<td th:text="${txn.type == 'D' ? '' : txn.amount}"></td>
			<td th:text="${txn.type == 'C' ? '' : txn.amount}"></td>
		</tr>
	</table>
</body>
</html>