<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Transactions Info</title>
	<link href="/css/transactions.css" rel="stylesheet">
</head>
<body>
	<div th:if="${transaction !=null}">
		<h2 th:text="|Transaction ID: ${transaction.id} (${transaction.type == 'C' ? 'Credit' : 'Debit'})|"></h2>
		<p th:inline="text">
			Date: [[${transaction.date}]]
		</p>
		<p th:text="|Amount: ${transaction.type  == 'D' ? '-' + transaction.amount : transaction.amount}|">
		</p>
		<p th:text="|Description: ${transaction.description}|">
		</p>
		<a href="/transactions">Go Back</a>
	</div>
</body>
</html>